<header class="">
  <mdb-navbar
    SideClass="navbar navbar-expand-lg navbar-light white lighten-4 p-0"
    [containerInside]="true"
  >
    <mdb-navbar-brand class="ml-1">
      <a class="logo navbar-brand" routerLink="/">
        <img src="assets/booki.png" height="60" alt="" />
      </a>
    </mdb-navbar-brand>
    <links class="d-flex justify-content-start">
      <ul class="navbar-nav">
        <li
          class="nav-item waves-light mr-5 itemSelected"
          *ngIf="component === 'notFound'"
          mdbWavesEffect
        >
          <a class="nav-link font-weight-normal" [routerLink]="['/']">
            <i class="fa fa-home fa-lg black-text"></i>
            Accueil</a
          >
        </li>

        <li
          class="nav-item waves-light itemSelected pl-2 mr-3"
          *ngIf="component === 'landingPage' && !validToken"
        >
          <a class="nav-link font-weight-normal" (click)="modalSignup.show()"
            >Sign up
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li
          class="nav-item waves-light itemSelected mr-5"
          *ngIf="component === 'login' && !validToken"
        >
          <a class="nav-link font-weight-normal" (click)="modalSignup.show()">
            <i class="fa fa-user fa-lg orange-text"></i>
            S'inscrire
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li
          class="nav-item waves-light itemSelected mr-5"
          *ngIf="component === 'landingPage'"
          mdbWavesEffect
        >
          <a class="nav-link font-weight-normal" href="#features"
            >Functionalities</a
          >
        </li>

        <!-- valid token -->
      </ul>
    </links>
    <links class="d-flex justify-content-end w-100">
      <ul class="navbar-nav p-0">
        <li
          class="nav-item border border-dark rounded connectBorder mb-1 waves-light"
          *ngIf="component === 'landingPage' && !validToken"
          mdbWavesEffect
        >
          <a class="nav-link font-weight-normal" (click)="modalConnect.show()"
            >Login</a
          >
        </li>

        <li
          placement="bottom"
          *ngIf="validToken"
          [mdbPopover]="popTemplate"
          class="nav-item waves-light  pointer "
          mdbWavesEffect
        >
          <div class="row w-100">
            <div class="col-md-5">
              <div class="avatar ">
                <img
                  width="45"
                  height="45"
                  [src]="imageRes"
                  class="rounded-circle "
                />
              </div>
            </div>
            <!--
                <div class="col-md-6" >
                    <a class="nav-link font-weight-normal capitalize  mt-1" >{{username}}</a>
                </div>
                -->
          </div>
        </li>

        <!--
        <li class="nav-item waves-light border border-dark rounded connectBorder"   mdbWavesEffect>
          <a class="nav-link font-weight-normal" routerLink="/" (click)="clearCach()">Se déconnecter</a>
        </li>
-->

        <ng-template #popTemplate class="w-100">
          <div class="row">
            <div class="col-md-5 mt-3 ml-1">
              <div class="media">
                <div>
                  <img
                    class="d-flex rounded-circle"
                    width="85"
                    height="85"
                    [src]="imageRes"
                    alt="Generic placeholder image"
                  />
                </div>
              </div>
            </div>
            <div class="col-md-5 mt-2 ml-1 mr-4 mb-3">
              <div class="row ">
                <div>
                  <p
                    style="cursor: pointer;"
                    class="selectedPop capitalize "
                    [routerLink]="['/profile']"
                  >
                    <strong>{{ username }}</strong>
                  </p>
                  <p class="grey-text ">{{ email }}</p>
                  <p
                    style="cursor: pointer;"
                    class="selectedPop mt-1"
                    [routerLink]="['/welcome']"
                  >
                    <i class="fa fa-home fa-lg blue-text ">&nbsp;</i>Home
                  </p>
                  <p
                    style="cursor: pointer;"
                    class="selectedPop mt-2"
                    routerLink="/"
                    (click)="clearCach()"
                  >
                    <i class="fa fa-close fa-lg grey-text ">&nbsp;</i>Logout
                  </p>
                </div>
                <div></div>
              </div>
            </div>
          </div>
        </ng-template>
      </ul>
    </links>
  </mdb-navbar>
  <app-signin-modal
    (signupOpen)="modalSignup.show(); modalConnect.hide()"
    mdbModal
    #modalConnect="mdbModal"
    class="modal fade"
    style="overflow-y: auto"
    [modal]="modalConnect"
  >
  </app-signin-modal>
  <app-signup-modal
    [component]="component"
    (signinOpen)="modalSignup.hide(); modalConnect.show()"
    mdbModal
    #modalSignup="mdbModal"
    class="modal fade"
    style="overflow-y: auto"
    [modal]="modalSignup"
  >
  </app-signup-modal>
</header>
