

.underline {
border-bottom: 2px solid #185cda;
}

.notunderline {
  border-bottom: none;
  }

a {
  font-size: 1.7em;
  color: #000000;
}


.row {
  margin-right: 0px !important;
  margin-left: 0px !important;
}

.emptyState p {
  font-size: 1.4em;
}
.serverDown{
  font-size: 1.4em;
}
