

.box-shadow{
  transition: 0.3s;
  border-radius: 10px; /* 5px rounded corners */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}



.border {
  border-radius: 2px;
}

.btn-text {
  font-size: 1em;
  text-decoration: underline;
}

.pointer {cursor: pointer;}
