<!-- Container Landing part  -->
<div class="container pt-4">
  <div class="row">
    <div
      class="col-sm d-flex justify-content-center align-items-start landingText mr-5"
    >
      <div class="col ml-3">
        <div>
          <p class="text-justify">
            <span style="font-size: 28pt;"
              >With <strong>booki</strong>, manage your books to read ...</span
            ><br />
            <span style="font-size: 17pt;">
              You can keep the entire list of your books to read in one place to
              facilitate the management of your next readings.</span
            >
          </p>
        </div>

        <div>
          <button
            mdbBtn
            type="button"
            (click)="start()"
            color="indigo"
            class="buttonText"
            mdbWavesEffect
            routerLink="/welcome"
          >
            Get started - It's free
          </button>
        </div>
      </div>
    </div>
    <div class="col-sm d-flex justify-content-center ">
      <img src="assets/landingPic.svg" width="600" height="450" />
    </div>
  </div>
</div>

<!-- container landing part-->
