.container{
  width: 100%;
  padding-left: 0%;
  margin-right: 5%;
  padding-right:0%;
  }

  .buttonText {
  text-transform: none;
  font-size: 1.1em;

  }

  .landingText {
    margin-top: 5%;
    }
