<!-- Footer -->
<footer class="page-footer font-small unique-color-dark">
  <!-- Footer Links -->
  <div class="container">
    <!-- Grid row-->
    <div class="row text-center d-flex justify-content-center pt-5">
      <!-- Grid column -->
      <div class="col-md-2">
        <h6 class="text-uppercase font-weight-bold">
          <a href="#!">ABOUT</a>
        </h6>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row-->

    <!-- Grid row-->
    <div class="row d-flex text-center justify-content-center mb-md-0 mb-4">
      <!-- Grid column -->
      <div class="col-md-8 col-12 mt-3">
        <p style="line-height: 1.7rem">
          Booki is a web application developed as a personal project, published to provide a fully working web application to
          developers who are interested in building modern web apps using  Spring Boot as a backend solution, and Angular for the frontend.
        </p>
        <p>
          Technologies used : JEE Spring Boot / Angular 7 .
        </p>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row-->
    <hr
      class="clearfix d-md-none rgba-white-light"
      style="margin: 10% 15% 5%;"
    />

    <!-- Grid row-->
    <div class="row pb-3 text-center">
      <!-- Grid column -->
      <div class="col-md-12">
        <div class="mb-5 flex-center"></div>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row-->
  </div>
  <!-- Footer Links -->

  <!-- Copyright -->

  <div class="footer-copyright text-center py-3">
    <p class="love">
      Made with &nbsp;<i class="fa fa-heart fa-lg red-text"></i>&nbsp; Houssem
      Selmi.
    </p>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
