<!--Developer Team-->
<!-- Section: Team v.1 -->

<!--Developer Team-->
<!-- Section: Team v.1 -->
<div class="m-5 pt-3 ">
  <section class="team-section text-center">
    <!-- Section heading -->
    <h2 class="h1-responsive font-weight-bold my-5">Developer</h2>
    <!-- Section description -->
    <p class="grey-text w-responsive mx-auto mb-5"></p>

    <!-- Grid row -->
    <div class="row d-flex justify-content-center ">
      <!-- Grid column -->
      <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
        <div class="avatar mx-auto">
          <img
            src="assets/hsavatar.jpeg"
            class="rounded-circle z-depth-1"
            height="180"
            width="180"
            alt="Sample avatar"
          />
        </div>
        <h5 class="font-weight-bold mt-4 mb-3">Houssem Selmi</h5>
        <p class="text-uppercase blue-text">
          <strong>( Angular / Spring ) Developer</strong>
        </p>
        <p class="black-text">
          Java JEE / Spring / Angular developer, computer engineering student,
          passionate about software development and the IT field.
        </p>
        <ul class="list-unstyled mb-0">
          <!-- Facebook
          <a
            class="p-2 fa-lg fb-ic"
            target="_blank"
            href=""
          >
            <i class="fa fa-facebook blue-text"> </i>
          </a> -->
          <!-- Twitter
                  <a class="p-2 fa-lg tw-ic">
                      <i class="fa fa-twitter blue-text"> </i>
                  </a>
                  -->
          <!-- LinkedIn -->
          <a
            class="p-2 fa-lg ins-ic"
            target="_blank"
            href="https://www.linkedin.com/in/hselmi/"
          >
            <i class="fa fa-linkedin blue-text"> </i>
          </a>
        </ul>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->
  </section>
  <!-- Section: Team v.1 -->
</div>
