

  .border2 {
    border-width: 2px !important;
    border-color: #cccccc !important;
    border-radius: 28px !important;

  }


.doneClass {
  color: green !important;
}

.undoneClass {
  color: grey !important;
}

.chTitle {
  font-size: 1.2em;
}


.chDesc {
  font-size: 1.1em;

}
