<!-- features -->

<!--Section: Features v.1-->
<section id="features" class="text-center mt-5 ml-4 mr-4">
  <!--Section heading-->
  <h2 class="h1 py-5 font-weight-bold">Why use booki?</h2>
  <!--Section description-->
  <p class="px-5 mb-5 pb-3 lead black-text">
    Manage, follow the list of your books to read is now easy thanks to Booki
    which makes it possible to regroup your next readings, to follow your
    progress and to take up challenges.
  </p>

  <!--Grid row-->
  <div class="row">
    <!--Grid column-->
    <div class="col-md-4">
      <i class="fa fa-book fa-3x blue-text"></i>
      <h5 class="font-weight-bold mt-3">Books</h5>
      <p class="black-text">
        A list of the best-selling books of the moment is recommended for you to
        help you choose your next readings.
      </p>
    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-md-4">
      <i class="fa  fa-heart fa-3x red-text"></i>
      <h5 class="font-weight-bold mt-3">Favorites</h5>
      <p class="black-text">
        You can group your next readings in a pleasantly presented list in order
        to to facilitate the visualization and the management of your books to
        read.
      </p>
    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-md-4">
      <i class="fa fa-trophy fa-3x orange-text"></i>
      <h5 class="font-weight-bold mt-3">Challenges</h5>
      <p class="black-text">
        As soon as you finish reading a book, you can mark it as completed, and
        immediately start to take up the challenges present on Booki.
      </p>
    </div>
    <!--Grid column-->
  </div>
  <!--Grid row-->
</section>
<!--Section: Features v.1-->
