.modal-header{
  border-bottom: 0px solid #e9ecef !important;
  padding: 0.9em;
}



.mat-checkbox-inner-container{
  height: 25px !important;
  width: 25px !important;
}



.checkText{
  font-size: 1.1em;
}


.rating-text {
    margin-top: 0.30rem !important;
}
